html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: font1;
    src: url(fonts/PlaywriteGBS-VariableFont_wght.ttf);
}

@font-face {
    font-family: font2;
    src: url(fonts/BaskervvilleSC-Regular.ttf);
}

@font-face {
    font-family: font3;
    src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: font4;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: font5;
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: font6;
    src: url(fonts/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: font7;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

body {
    background-color: #fdf0d5;
    display: flex;
    flex-direction: column;
}
#allSec{
    display: flex;
    background-color: inherit;
    flex-direction: column;
    gap: 16vh;
}

#name {
    font-family: font4;
    font-size: 200%;
}

#navName {
    display: flex;
    padding: 2vh;
    gap: 75vh;
    align-items: center;
    border-bottom: 2vh solid #780000;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: inherit;
}

#nav ul {
    font-size: 150%;
    color: #780000;
    font-family: font5;
    display: flex;
    gap: 18vh;
    list-style: none;
    cursor: pointer;
}

#introduction {
    display: flex;
    justify-content: center;
    font-family: font4;
    gap: 0vh;
    padding: 2vh;
    transition: all 2s linear;
    color: #fdf0d5;
    animation: addGap 0.5s linear 1;
    gap: 40vh;
    height: 67vh;
}

@keyframes addGap {
    from {
        gap: 0;
    }

    to {
        gap: 40vh;
    }
}

#text {
    display: flex;
    gap: 3vh;
    flex-direction: column;
    background-color: #780000;
    padding: 2vh;
    height: 47vh;
}

.secName {
    font-size: 195%;
    font-family: font4;

}

#hello {
    margin-bottom: 2vh;
    font-family: font5;
    font-size: 120%;
}

#myName {
    font-family: font4;

    font-size: 150%;
}

.subheading {
    font-size: 130%;
    font-family: font4;
}

#education {
    font-family: font5;
}

#skills {

    font-family: font5;
}

#img {
    width: 44vh;
    height: 44vh;

    border: 3vh solid #780000;
}

#img>img {
    width: 100%;
}

#contact {
    display: flex;
    gap: 40vh;
    justify-content: center;
    border: 4px solid #780000;
    padding: 27vh;

}

#contactSection {
    background-color: #780000;
    color: #fdf0d5;
    padding: 2vh;
    width: 50vh;
    height: 40vh;
}

#contactInfo {

    display: flex;
    flex-direction: column;
    gap: 5vh;
}

#contactInfo img {
    width: 5vh;
    border-radius: 50%;
}

.callMail {
    display: flex;
    align-items: center;
    gap: 2vh;
    font-family: font6;
}

.contactImg {
    width: 5vh;
    border-radius: 50%;
    border: 1vh solid #780000;
}

#other {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width: 60vh;
    margin-top: 5vh;
}

#projects {
    display: flex;
    flex-direction: column;
    gap: 8vh;
    border: 4px solid #780000;
    color: #fdf0d5;
    padding: 17vh;
}

#projectHeading {
    background-color: #780000;
    font-size: 195%;
    font-family: font4;
    padding: 2vh;
    width: 158vh;
}

#boxes {
    display: flex;
    gap: 4vh;


}

.box {
    background-color: #780000;
    padding: 2vh;
    height: 48vh;
}

.boxHeading {
    font-size: 195%;
    font-family: font4;
}

.boxDetails {

    font-family: font5;
    font-size: 120%;
}

.boxDetails ul {
    padding: 2vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.previewButton {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    gap: 4vh;
}

.previewButton button {
    font-family: font4;
    padding: 0.5vh;
    background-color: #fdf0d5;
    color: #780000;
    font-weight: bold;
    border: 2px solid #780000;
    border-radius: 2vh;
    cursor: pointer;
    transition: all 0.2s linear;
}

.previewButton button:hover {
    transform: scale(1.05);
}

#scrollToTop {
    position: sticky;
    margin-left: 95vw;
    bottom: 2vh;
    border-radius: 50%;
    width: 7.5vh;
    height: 7.5vh;
    border: 0.5vh solid #780000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
    cursor: pointer;
}
#scrollToTop>img{
    height: 100%;
    border-radius: 50%;
}
#scrollToTop:hover{
    transform: scale(0.9);
}
.contactId{
    display: flex;
    font-family: font4;
    color: #780000;
    align-items: center;
    gap:4vh;
}